
<!DOCTYPE html> 
<html> 
<head> 
    <meta charset="utf-8"> 
    <title>Articulos</title> 
    	<link type="text/css" rel="stylesheet" href="http://localhost/gr/public/assets//css//bootstrap.css?1341504908" />

	<link type="text/css" rel="stylesheet" href="http://localhost/gr/public/assets//css//bootstrap-responsive.css?1340657948" />

	<link type="text/css" rel="stylesheet" href="http://localhost/gr/public/assets//css//custom.css?1341508872" />
	<link rel="stylesheet" href="http://localhost/gr/public/assets//css//bootstrap-image-gallery.css">

    <style> 
        body {
            padding-top: 80px;
            padding-bottom: 40px;
        }
 
        .sidebar-nav {
            padding: 9px 0;
        }
 
    </style> 
</head> 
<body> 
<!-- begin header --> 
<div class="navbar navbar-fixed-top"> 
    <div class="navbar-inner"> 
        <div class="container-fluid"> 
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
 
                <span class="icon-bar"></span> 
 
                <span class="icon-bar"></span> 
 
                <span class="icon-bar"></span> 
 
            </a> 
 
            <a class="brand" href="/gr">Cat&aacute;logo</a> 
            
            <div class="nav-collapse"> 
 
                <ul class="nav"> 
 
                    <li class="active"><a href="/gr">Home</a></li> 
 
                    <li><a href="/mg">Cat&aacute;logo</a></li> 
 
                    <li><a href="#contact">Ayuda</a></li> 
 
                </ul> 
 
            </div> 
 
            <!--/.nav-collapse --> 
 
        </div> 
 
    </div> 
	<ul class="breadcrumb"><% breadcrumb_navigation %></ul>
    <!--breadcrumb--> 
 
</div> 
<!-- end header --> 
 
<div class="container"> 
 
 
    <div class="row"><!-- begin content--> 
	
<h3>Catalogo</h3>
<div class="alert alert-success" style="display:none;" id="alerta">
	<a class="close" data-dismiss="alert" href="#">&times;</a>
	<h4 class="alert-heading">Atenci&oacute;n!</h4>
	<p id="mensaje_alerta"><p>
</div>

<div class="alert alert-error" style="display:none;" id="alerta_error">
  <a class="close" data-dismiss="alert" href="#">&times;</a>
  <h4 class="alert-heading">Error!</h4>
  <p id="mensaje_error"><p>
</div>

<% messages %>


<div id="container">
<div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
<ul class="thumbnails">
<% thumbnails %>
</ul>
</div>
</div>
<br />
<div id="page_nav"><% page_navigation %></div>
<br />
 </div><!-- end page content--> 
 
 
    </div><!-- end content--> 
    <footer> 
        <p class="pull-right">Page rendered in 0.0761s using 5.087mb of memory.</p> 
        <p> 
            <a href="http://fuelphp.com">FuelPHP</a> is released under the MIT license.<br> 
            <small>Version: 1.2.1</small> 
        </p> 
    </footer> 
 
</div> 
 
 <!-- modal-gallery is the modal dialog used for the image gallery -->
<div id="modal-gallery" class="modal modal-gallery hide fade">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body"><div class="modal-image"></div></div>
    <div class="modal-footer">
	
		<form class="well form-inline" id="searchForm" action="/gr/foto/add/">
			<a class="btn modal-download" target="_blank">
				<i class="icon-download"></i>
				<span>Descargar</span>
			</a>
			<input name='periodista_id' id="form_periodista_id"  type="hidden"/>
			
			<span id="articulo_container"></span>
			<span id="dimension_container"></span>
			
		  <button type="submit" class="btn btn-primary"><i class="icon-plus"></i> Agregar Imagen</button>
		</form>	
    </div>
</div>
<!-- Le javascript
 
 
 
================================================== --> 
 
<!-- Placed at the end of the document so the pages load faster --> 
 
	<script type="text/javascript" src="http://localhost/fotos//assets/js/app/lib/head.js"></script> 
	<script type="text/javascript" src="http://localhost/gr/public/assets//js//jquery.js?1340657950"></script>

	<script type="text/javascript" src="http://localhost/gr/public/assets//js//bootstrap.js?1340657948"></script>

	<script type="text/javascript" src="http://localhost/gr/public/assets//js//bootbox.js?1340749448"></script>

	<script type="text/javascript" src="http://localhost/gr/public/assets//js//custom.js?1341505700"></script>
	<script src="http://localhost/gr/public/assets//js//load-image.min.js"></script>
	<script src="http://localhost/gr/public/assets//js//bootstrap-image-gallery.js"></script>
	
<script>

	$(document).ready(function() {				
		$.ajax({
			url: '/gr/user/estaactivo/',
			success:
				function(data) {
					console.log(data);
					if(data.user_id != 0)
					{	
						$("#form_periodista_id").val(data.user_id),
						
						$.get('/gr/foto/getarticulos/1', 
							function(data) {
								$('#articulo_container').html(data);
							});				
						$.get('/gr/dimension/getdimensiones/', 
							function(data) {
								$('#dimension_container').html(data);
							});			  
					}		
					else
					{
						alert("no logeado");
						var url = "http://localhost/gr/";    
						$(location).attr('href',url);
					}
				},
			dataType: 'json'						
		});
		
	});

  /* attach a submit handler to the form */
  $("#searchForm").submit(function(event) {	
    /* stop form from submitting normally */
    event.preventDefault(); 
        
    /* get some values from elements on the page: */
    var $form = $( this ),
        term =  $("#form_articulo_id option:selected").val(),
		imagen = $('img.in').attr("src"),
        url = $form.attr( 'action' );
		periodista_id = $("#periodista_id").val(),
		dimension_id = $("#form_dimension_id option:selected").val()

    /* Send the data using post and put the results in a div */
    $.post( url, 
			{ 
				articulo_id: term,
				imagen: imagen,
				periodista_id:periodista_id,
				dimension_id: dimension_id
			},
			function( data ) {
				
				switch(data){							
					case '0':
						console.log(data);
						$("#mensaje_alerta" ).html("La imagen " + imagen + " ha sido agregada al articulo: " + $("#articulo_id option:selected").val());
						$( "#alerta" ).show();
						$('#modal-gallery').modal('hide');
					break;
					case '1':
						console.log(data);
						$("#mensaje_error" ).html("La imagen " + imagen + " no pudo ser agregada al articulo: " + $("#articulo_id option:selected").val());
						$( "#alerta_error" ).show();
						$('#modal-gallery').modal('hide');
					break;
					case '2':	
						console.log(data);
						$("#mensaje_error" ).html("La imagen " + imagen + " ya esta agregada al articulo: " + $("#articulo_id option:selected").val());
						$( "#alerta_error" ).show();
						$('#modal-gallery').modal('hide');
					break;
				}		

			}
    );
  });
</script>	
</body> 
 
</html> 
</body> 
</html>
